[Unit]
Description=2busy1miss Calendar Reminder Timer

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
