[Unit]
Description=Daily 2much2read Digest

[Timer]
OnCalendar=*-*-* __DIGEST_SCHEDULE_TIME__:00 __DIGEST_SCHEDULE_TIMEZONE__
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
